*.o
*.mod
*.a
*.tgz
*.xml
cmake_install.cmake
Makefile
cmake-build-debug/
libpvol/
CMakeFiles/
.idea/
github_bin/
build_majestix
build_commands
build
_build*
bin/
*.egg-info/
_skbuild
__pycache__
*/.wraplock
